<!-- <h3>test app!!</h3> -->
<ul class="listBlock">
  <li class="listBlock-listElement">
    <a routerLink="home" class="listBlock-listAnchor">Home</a>
  </li>
  <li>
    <a routerLink="about" class="listBlock-listAnchor">About</a>
  </li>
  
</ul>

<ul class="listBlock is-vertical">
  <li class="listBlock-listElement">
    <a routerLink="home" class="listBlock-listAnchor">Home</a>
  </li>
  <li>
    <a routerLink="about" class="listBlock-listAnchor">About</a>
  </li>

</ul>

<app-home></app-home>

<router-outlet></router-outlet>
